// Google Tag Manager (noscript)
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-N8TD5SK" height="0" width="0" style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)

header.header.header__menu-line-gold

  nav.navbar.navbar__theme.navbar-expand-lg.navbar__theme_menu-line-gold.scrolling-navbar.wow.fadeIn(data-wow-delay='0' data-wow-duration='0.4s')
    .container.container__setting_xl
      a.navbar-brand.wow.fadeInDown(href='', title='Логотип Рустрансфер' role='banner' data-wow-delay='0.2s' data-wow-duration='0.4s')
        include ../../templates/mixins/header/logo
      .navbar-collapse__md
        .navbar-collapse__wrapper.navbar-collapse__media-theme
          .navbar-collapse__md_justify-content-between
            ul.navbar-nav.navbar-nav__contacts.navbar-nav__contacts_left.navbar-nav__contacts_mt-2.navbar-nav__contacts_mt-lg-0
              li.nav-item
                a.nav-link(href='mailto:24@rustransfer.org' role="button")
                  include ../../templates/mixins/header/mail
                  span 24@rustransfer.org
              li.nav-item
                span.nav-link
                  include ../../templates/mixins/header/balloon
                  span Сочи
              li.nav-item.nav-item_d-none
                a.nav-link(href='tel:+78002004017' role="button")
                  include ../../templates/mixins/header/phone
                  span 8-800-200-4017
            ul.navbar-nav.navbar-nav__contacts.navbar-nav__contacts_right.navbar-nav__contacts_mt-2.navbar-nav__contacts_mt-lg-0
              li.nav-item.nav-item__pr-0.dropdown
                a.nav-link.nav-link__consultation.nav-link_pr-0(onclick="Marquiz.showModal('5e8cb3c4b8296c0044631e52')" role='button')
                  span.nav-link__account Получить консультацию
              li.nav-item.nav-item__phone.nav-item_d-block
                a.nav-link(href='tel:88002004017' role="button")
                  include ../../templates/mixins/header/phone
                  span 8 (495) 204-23-07
      #navbarToggler.collapse.navbar-collapse.navbar-collapse__theme.wow.fadeIn( title='Логотип Рустрансфер' data-wow-delay='0.1s' data-wow-duration='0.4s')
        .navbar-collapse__wrapper.navbar-collapse__media-theme
          .navbar-collapse__justify-content-between
            p.navbar-nav__menu-md
              span Меню
              a.navbar-brand.navbar-brand__logo-sm.wow.fadeInDown(href='', title='Логотип Рустрансфер' role='banner' data-wow-delay='0.2s' data-wow-duration='0.4s')
                include ../../templates/mixins/header/logo-mobile-menu
            ul.navbar-nav.navbar-nav__contacts.navbar-nav__contacts_mt-2.navbar-nav__contacts_mt-lg-0
              li.nav-item
                a.nav-link(href='mailto:24@rustransfer.org' role="button")
                  include ../../templates/mixins/header/mail
                  span 24@rustransfer.org
              li.nav-item
                span.nav-link
                  include ../../templates/mixins/header/balloon
                  span Сочи
              li.nav-item.nav-item_d-none
                a.nav-link(href='tel:+78002004017' role="button")
                  include ../../templates/mixins/header/phone
                  span 8-800-200-4017
            ul.navbar-nav.navbar-nav__contacts.navbar-nav__contacts_right.navbar-nav__contacts_mt-2.navbar-nav__contacts_mt-lg-0
              li.nav-item.nav-item__pr-0
                a.nav-link.nav-link__consultation.nav-link_pr-0(onclick="Marquiz.showModal('5e8cb3c4b8296c0044631e52')" role='button')
                  span.nav-link__account Получить консультацию
              li.nav-item.nav-item__phone.nav-item_d-block.nav-item__pr-0
                a.nav-link(href='tel:+78002004017' role="button")
                  include ../../templates/mixins/header/phone
                  span 8-800-200-4017
          ul#magicLine.navbar-nav.navbar-nav__menu.mt-2.mt-lg-0.navbar-nav__menu-line_gold.group
            li.nav-item.current_page_item.hidden-crutch
              a.nav-link(href='#how-order' role="link") hidden-crutch
            li.nav-item
              a.nav-link(href='#auto-class' role="link")
                | Выбор авто
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#how-order' role="link") Как заказать
            li.nav-item
              a.nav-link(href='#order-service' role="link") Услуги
            li.nav-item
              a.nav-link(href='#slider-advantages' role="link") Сервис
            li.nav-item
              a.nav-link(href='#free-payment' role="link") Расчет цены
            li.nav-item
              a.nav-link(href='#events-service' role="link") Организациям
            li.nav-item
              a.nav-link.nav-link_pr-0(href='#numbers-company' role="link") О нас

          ul.navbar-nav.navbar-nav__menu.navbar-nav__menu_phone.mt-2.mt-lg-0.group
            p Контакты
            li.nav-item.nav-item__phone.nav-item_d-block
              a.nav-link(href='tel:+78002004017' role="button")
                include ../../templates/mixins/header/phone
                span +7-800-200-4017
                | Круглосуточно
            li.nav-item.nav-item__phone.nav-item_d-block
              a.nav-link(href='tel:+74951283601' role="button")
                include ../../templates/mixins/header/phone
                span +7-495-128-3601
                | Москва
            li.nav-item.nav-item__phone.nav-item_d-block
              a.nav-link(href='tel:+78126037550' role="button")
                include ../../templates/mixins/header/phone
                span +7-812-603-7550
                | Санкт-Петербург
            li.nav-item.nav-item__phone.nav-item_d-block
              a.nav-link(href='tel:+78432070209' role="button")
                include ../../templates/mixins/header/phone
                span +7-843-207-0209
                | Казань
            li.nav-item.nav-item__phone.nav-item_d-block
              a.nav-link(href='tel:+78622792425' role="button")
                include ../../templates/mixins/header/phone
                span +7-862-279-2425
                | Сочи
            li.nav-item.nav-item__phone.nav-item_d-block
              a.nav-link(href='tel:+12023502717 ' role="button")
                include ../../templates/mixins/header/phone
                span +1-20-235-027-17
                | Вашингтон

          ul.navbar-nav.navbar-nav__menu_messengers.mt-2.mt-lg-0.group
            li.nav-item.nav-item__messengers
              a(href='whatsapp://send?phone=+79235008282' title='' target='_blank')
                include ../../templates/mixins/footer/whatsapp
            li.nav-item.nav-item__messengers
              a(href='viber://chat?number=+79235008282' title='' target='_blank')
                include ../../templates/mixins/footer/viber
            li.nav-item.nav-item__messengers
              a(href='tg://resolve?domain=79235008282' title='' target='_blank')
                include ../../templates/mixins/footer/telegram



      button.hamburger.hamburger--spring.navbar-toggler(
      type='button',
      data-toggle='collapse',
      data-target='#navbarToggler',
      aria-controls='navbarToggler',
      aria-expanded='false',
      aria-label='Toggle navigation',
      role='button'
      )
        span.hamburger-box
          span.hamburger-inner


